<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/chat/index.css">
    <script src="../../static/chat/chat.js"></script>
    <script src="../../static/chat/search.js"></script>
    <title>Home - DjGram</title>
</head>

<body data-user="{{user.username}}">
    <div class="users-list-container">
        <div class="search-form-container">
            <form id="search-form" action="{% url 'home-page' %}">
                <input id="search-input" type="text" name="search" placeholder="Search users...">
            </form>
        </div>
        <div class="users-list">
            {% if users %}
                {% for user in users %}
                    <div data-username="{{user.username}}" class="profile-container">
                        <div class="profile-div">{{ user.username|first|upper }}</div>
                        <div class="online-dot-{{user.id}}"></div>
                        <p>{{ user.username|capfirst }}</p>
                    </div>
                {% empty %}
                <h3>No users found</h3>
                {% endfor %}
            {% endif %}
        </div>
    </div>

     <div class="chat-box-container">
        <div class="clicked-profile">
            <div data-username="{{user.username}}" class="clicked-profile-container">
                <div>
                <div class="profile-div clicked-profile-div"></div>
                <p class="clicked-profile-username"></p>
                </div>

                <div class="typing-indicator">
                    <pre id="typing">typing</pre>
                    <div class="dot-div">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </div>
                </div>
                
            </div>  
        </div>

        <div class="chat-box" id="chat-box">
            <ul id="chat-ul"></ul>
        </div>
        <div class="input-box" id="input-box">
            <form id="chat-form" autocomplete="off">
                <input type="text" name="chat-input" id="chat-input">
                <button type="submit"><img src="../../static/chat/send-icon.svg" alt="send"></button>
            </form>
        </div>
     </div>
</body>
</html>
